@model (PaymentCreateModel Item1,ReservationCreateDto Item2)


<div class="container mt-5 px-5">

	<div class="mb-4">

		<h2>Confirm reservation and pay</h2>
		<span>please make the payment, after that you can enjoy all the features and benefits.</span>
	</div>

	<div class="mb-3">
	</div>




	<form asp-action="Payment" asp-controller="Reservation" method="post">
		<input type="hidden" asp-for="Item1.TotalAmount" />
		<div class="row">
			<div class="col-md-8">
				<div class="card p-3">
					<h6 class="text-uppercase">Payment details</h6>
					<div id="creditCardDiv">
					<div class="inputbox mt-3"> <input type="text" name="name" class="form-control" asp-for=Item1.CreditCardHolder > <span>Name on card</span> </div>


					<div class="row">
						<div class="col-md-6">
							<div class="inputbox mt-3 mr-2">
								<input type="text" name="name" class="form-control" asp-for=Item1.CreditCardNo required="required"> <i class="fa fa-credit-card"></i> <span>Card Number</span>
							</div>
						</div>

						<div class="col-md-6">
							<div class="d-flex flex-row">
								<div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" asp-for="Item1.CreditCardExpire" > <span>Expiry</span> </div>

								<div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" asp-for="Item1.CreditCardCVC"> <span>CVV</span> </div>
							</div>
						</div>
					</div>
					</div>



					<div class="mt-4 mb-4">
						<h6 class="text-uppercase">Select Payment Type</h6>
						<div class="row mt-3">
							<div class="col-md-6">
								<select onchange="setInputVisibility()" class="form-select" asp-items="@ViewBag.PaymentTypes" asp-for="Item1.PaymentTypeId" >
									<option value="0">Choose Payment Option</option>
								</select>
								<span asp-validation-for="Item1.PaymentTypeId" class="text-danger"></span>
							</div>


							<div class="col-md-6">
							</div>
						</div>

						<div  class="row mt-2">

							<div id="dateDiv" class="col-md-6" style="display:none">
								<label>Expected Payment Date</label>
								<div class="inputbox mt-3 mr-2"> <input type="date" asp-for="Item1.ExpectedPaymentDate" name="name" class="form-control">  </div>
							</div>


							<div class="col-md-6">
							</div>




						</div>

					</div>

				</div>


				<div class="mt-4 mb-4 d-flex justify-content-between">


					<span>Previous step</span>


					<button type="submit" class="btn btn-success px-3">Pay $840</button>

				</div>

			</div>

			<div class="col-md-4">

				<div class="card card-blue p-3 text-white mb-3">

					<span>You have to pay</span>
					<div class="d-flex flex-row align-items-end mb-3">
						<h1 class="mb-0 yellow">$ @ViewBag.TotalAmount </h1> <span>.99</span>
					</div>

					<span>Enjoy all the features and perk after you complete the payment</span>
					<a href="#" class="yellow decoration">Know all the features</a>

					<div class="hightlight">
						<span>100% Guaranteed support and update for the next 5 years.</span>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<link href="~/css/payment.css" rel="stylesheet" />

@section script{
<script>
	setInputVisibility();
	function setInputVisibility(){
		
		var selectElement =document.getElementById("Item1_PaymentTypeId");
		var paymentStatusId= selectElement.value;
		var dateDivElement= document.getElementById("dateDiv");
		var cardDivElement=document.getElementById("creditCardDiv");
		if(paymentStatusId==5)
		{
			dateDivElement.style.display="block";
		}
		else{
			dateDivElement.style.display="none";
		}

		if(paymentStatusId==3)
		{
			cardDivElement.style.display="none";
		}
		else{
			cardDivElement.style.display="block";
		}
	}
</script>
}