@model TermsAndConditionModel

<container> 
<div class="bg-dark text-white text-center p-4 h-100"> 
	<h3>For changes; </h3>
	<br />
	- Date change is allowed untill 3 days before to enterance date to NZ Hotel, 
	<br />
	  ** Date change can be applies as expanding dates but clarified number of days cannot be shortened. 
	<br />
	- Reservation option (All Inclusive & Full Pansion) is allowed untill 90 days before to enterance date to NZ Hotel, 
	<br />
	- Guest information change is allowed before 3 days before to enterance date to NZ Hotel. 
	<br />
	<br />
	<h3>For payments; </h3>
	- Change payment amount will be issued as an extra to your previous payment amount.
	<br />
	<br />
	<h3>Check In Time: 10:00 am & Check Out Time: 02:00 pm </h3>

</div>
</container>


