@model TermsAndConditionModel

<container> 
<div class="bg-dark text-white text-center p-4 h-100"> 
	<h3>For cancellation - changes; </h3>
	<br />
		- If you request a cancellation  until 15 days before your check-in date, your transaction fee will be
		charged and your money will be refunded according to your payment method. If less than 15 days are left,
		your cancellation will be made by making a 35% deduction from the amount you have paid and your refund will be made.

		- As long as you or your first-degree relatives' valid reasons (illness, accident, death, etc.) are documented 
		with an official report, your reservation will be canceled  without interruption. 
		In order for your cancellation transactions to be valid, you must have a written and signed petition.
		Deductions and refunds are detailed in the contracts sent to you by your guest representatives.

		- As stated in the terms and conditions text, in case of cancellation of reservations made less than 15 days 
		before the check-in date, a 35% refund will be applied. However, when a valid excuse is documented in the 
		minutes, refunds can be made without deduction.
		In case of cancellation of reservations whose payment method is "pay later" but for which payment has 
		not been made yet, the above conditions will continue to apply and the customer will be 
		charged and refunded intermittently or uninterruptedly.
	<br />
		**If you request a date change until 15 days before the check-in date, it will be made according to the current room rates for the new dates you want to stay. You are requested to pay for the price difference that occurs while making the change.

		**Less than 15 days before your reservation, the date will be changed as long as you or your first-degree relatives are documented with an official report for valid reasons (illness, accident, death, urgent work, etc.).

		

		**Date change can be applied as expanding dates but clarified number of days cannot be shortened.

		<br />
	  - Reservation option (All Inclusive & Full Pansion) is allowed untill 90 days before to enterance date to NZ Hotel, 
	<br />
	 - It is allowed to change the guest information up to 3 days before the NZ Hotel check-in date.
	<br />
	<br />
	<h3>For payments; </h3>
	- Change payment amount will be issued as an extra to your previous payment amount.
	<br />
	<br />
	<h3>Check In Time: 10:00 am & Check Out Time: 02:00 pm </h3>

</div>
</container>


